.testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    gap: 4rem;
}

.testimonial__headerbox{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
}

.testimonial__container{
    display: flex;
    flex-direction: row-reverse;
}

.testimonial__innercontainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial__imgbox{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#star__8{
    left: 0;
    bottom: 0;
}

#spray__7{
    left: -50px;
    top: 250px;
}

#people__ringbg{
    max-width: 110%;
    max-height: 110%;
    left: 0;
    top: 100px;
}