@import url("https://api.fontshare.com/css?f[]=clash-display@200,300,400,500,600,700&display=swap");

:root{

    --clr-bg: rgb(250, 250, 250, 1);
    --clr-light: rgb(255, 255, 255, 1);
    --clr-dark: rgba(0, 0, 0, 1);
    --clr-orange: rgba(255, 85, 85, 1);
    --clr-grey: rgb(110, 110, 110);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100svw;
    background-color: var(--clr-bg);
    overflow-x: hidden;
}

svg, img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding: 1rem;
}

.btn{
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    transition: all 250ms;
}


.btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
} 

.btn:active{
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-wte{
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.btn-wte:hover, .btn-wte:active{
    background-color: rgba(231, 231, 231, 0.9);

}

.fs1{
    font-size: 4em;
}

.fs2{
    font-size: 3em;
}

.fs3{
    font-size: 2em;
}

.fs4{
    font-size: 1.75em;
}

.fs5{
    font-size: 1.25em;
}

.fs6{
    font-size: 1.125em;
}

.fs7{
    font-size: 1em;
}

.w-400{
    font-weight: 400;
}

.w-500{
    font-weight: 500;
}

.w-600{
    font-weight: 600;
}

.w-700{
    font-weight: 700;
}

.clr-light{
    color: var(--clr-light);
}

.clr-dark{
    color: var(--clr-dark);
}

.clr-orange{
    color: var(--clr-orange);
}

.clr-grey{
    color: var(--clr-grey);
}

.bg-light{
    background-color: var(--clr-light);
}

.bg-dark{
    background-color: var(--clr-dark);
}

.bg-orange{
    background-color: var(--clr-orange);
}

.bg-grey{
    background-color: var(--clr-grey);
}

.cptze{
    text-transform: capitalize;
}

.upcse{
    text-transform: uppercase;
}

.p-abs{
    position: absolute;
}

.visited{
    /* Animate on Scroll */
}

.slidein_top{
    transform: translateY(-100px);
    opacity: 0;
    transition: all 500ms ease-in;
}

.slidein_bottom{
    transform: translateY(100px);
    opacity: 0;
    transition: all 500ms ease-in;
}

.slidein_left{
    transform: translateX(-100px);
    opacity: 0;
    transition: all 500ms ease-in;
}

.slidein_right{
    transform: translateX(100px);
    opacity: 0;
    transition: all 500ms ease-in;
}

.zoomout{
    transform: scale(0.01);
    opacity: 0;
    transition: transform 400ms, opacity 500ms;
}

.visited .slidein_top, .visited .slidein_bottom, .visited .slidein_left, .visited .slidein_right, .visited .zoomout{
    opacity: 1;
    transform: translateY(0px) scale(1);
}

.transition_delay_zero{
    transition-delay: 0ms;
}

.transition_delay_fast{
    transition-delay: 50ms;
}

.transition_delay_normal{
    transition-delay: 100ms;
}

.transition_delay_slow{
    transition-delay: 250ms;
}

.transition_delay_very_slow{
    transition-delay: 400ms;
}

.transition_speed_very_fast{
    transition-duration: 100ms;
}

.transition_speed_fast{
    transition-duration: 200ms;
}

.transition_speed_normal{
    transition-duration: 300ms;
}

.transition_speed_slow{
    transition-duration: 400ms;
}

@media only screen and (min-width: 475px){
    .container{
        max-width: 475px;
    }

    .btn{
        font-size: 14px;
        line-height: 18px;
        padding: 0.625rem 1.75rem;
    }
}

@media only screen and (min-width: 640px){
    .container{
        max-width: 640px;
    }

    .btn{
        font-size: 14px;
        line-height: 22px;
        padding: 0.625rem 2.125rem;
    }
}

@media only screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }

    .btn{
        font-size: 14px;
        line-height: 22px;
        padding: 0.625rem 2.125rem;
    }
}

@media only screen and (min-width: 1024px){
    .container{
        max-width: 1024px;
    }

    .btn{
        font-size: 16px;
        line-height: 24px;
        padding: 0.75rem 2.5rem;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }

    .btn{
        font-size: 16px;
        line-height: 24px;
        padding: 0.75rem 2.5rem;
    }
}

@media only screen and (min-width: 1440px){
    .container{
        max-width: 1400px;
    }

    .btn{
        font-size: 18px;
        line-height: 28px;
        padding: 0.875rem 2.75rem;
    }
}

@media only screen and (min-width: 1536px){
    .container{
        max-width: 1536px;
    }

    .btn{
        font-size: 18px;
        line-height: 28px;
        padding: 1rem 2.875rem;
    }
}
